//FONTS
$mainFont: 'Coming Soon', cursive;

//COLORS
$white: #fff;
$mainFontColor: #515150;
$lightMainFontColor: lighten($mainFontColor, 20%);
$accentColor: #81CFD1;

$backgroundColor: #51576F;
$containerColor: #E6E8E7;

$outlineColor: #AAB3C2;
$confirmGreen: #80D087;
$deleteRed: #DA6667;

//MIXINS
@mixin user-select($type) {
  -webkit-user-select: $type;
  -moz-user-select: $type;
  -ms-user-select: $type;
  user-select: $type;
}
